[submodule "themes/fleet"]
	path = themes/fleet
	url = https://github.com/dustinmartella/fleet-theme.git
	branch = master
[submodule "fleet"]
	path = fleet
	url = https://github.com/dustinmartella/fleet.git
	branch = master
